@charset "UTF-8";
/* line 3, ../sass/partials/_02_typography.scss */
.footer-company-info li:first-child, a, form, li, p, span, td, ul, h4, h5, time, input, textarea, footer, h3, .search-query {
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  line-height: 2em;
}

/* line 12, ../sass/partials/_02_typography.scss */
.footer-company-info li:first-child {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "times new roman", serif;
}

/* line 17, ../sass/partials/_02_typography.scss */
a, form, li, p, span, td, ul, h4, h5, time, input, textarea, footer, h3, .search-query {
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", Osaka, sans-serif;
}

/* line 22, ../sass/partials/_02_typography.scss */
a, form, li, p, span, td, ul, h4, h5, time, input, textarea, footer {
  font-size: 14px;
  color: #333333;
}

/* line 28, ../sass/partials/_02_typography.scss */
a {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 30, ../sass/partials/_02_typography.scss */
a:hover {
  color: #737373;
}
/* line 33, ../sass/partials/_02_typography.scss */
a:active {
  color: #737373;
}

/* line 38, ../sass/partials/_02_typography.scss */
h3 {
  font-size: 16px;
  color: #333333;
}

/* line 44, ../sass/partials/_02_typography.scss */
h4 {
  font-size: 18px;
  color: #333333;
}

/* line 50, ../sass/partials/_02_typography.scss */
.index-editorial time {
  font-size: 14px;
}

/* line 55, ../sass/partials/_02_typography.scss */
.footer-navigation a {
  font-size: 13px;
  color: #7a6a56;
}
/* line 58, ../sass/partials/_02_typography.scss */
.footer-navigation a:hover {
  color: #a2907b;
}
/* line 61, ../sass/partials/_02_typography.scss */
.footer-navigation a:active {
  color: #a2907b;
}

/* line 68, ../sass/partials/_02_typography.scss */
.footer-company-info li {
  color: #7a6a56;
}
/* line 70, ../sass/partials/_02_typography.scss */
.footer-company-info li:first-child {
  font-size: 20px;
}

/* line 78, ../sass/partials/_02_typography.scss */
.footer-copyright p {
  font-size: 11px;
  color: #ffffff;
}

/* line 88, ../sass/partials/_02_typography.scss */
.news-index h3 a, .books-index h3 a {
  font-size: 19px;
  color: #a48878;
}
/* line 91, ../sass/partials/_02_typography.scss */
.news-index h3 a:hover, .books-index h3 a:hover {
  color: #c3b0a6;
}
/* line 94, ../sass/partials/_02_typography.scss */
.news-index h3 a:active, .books-index h3 a:active {
  color: #c3b0a6;
}
/* line 99, ../sass/partials/_02_typography.scss */
.news-index h4, .books-index h4 {
  font-size: 14px;
}

/* line 105, ../sass/partials/_02_typography.scss */
.news-single h3 {
  font-size: 19px;
  color: #a48878;
}
/* line 109, ../sass/partials/_02_typography.scss */
.news-single h4 {
  font-size: 14px;
  color: #333333;
}

/* line 116, ../sass/partials/_02_typography.scss */
.books-single h3 {
  font-size: 20px;
  color: #333333;
}
/* line 120, ../sass/partials/_02_typography.scss */
.books-single h4 {
  font-size: 14px;
  color: #333333;
}
/* line 123, ../sass/partials/_02_typography.scss */
.books-single h4:first-letter {
  color: #c9caca;
}
/* line 127, ../sass/partials/_02_typography.scss */
.books-single h5 {
  font-size: 14px;
}

/* line 134, ../sass/partials/_02_typography.scss */
.search-query {
  font-size: 19px;
  color: #333333;
}

/* line 142, ../sass/partials/_02_typography.scss */
.link-more, .link-previous {
  color: #a48878;
}
/* line 144, ../sass/partials/_02_typography.scss */
.link-more:hover, .link-previous:hover {
  color: #c3b0a6;
}
/* line 147, ../sass/partials/_02_typography.scss */
.link-more:active, .link-previous:active {
  color: #c3b0a6;
}

/* line 152, ../sass/partials/_02_typography.scss */
.underline {
  text-decoration: underline;
}

/* line 5, ../sass/partials/_03_structure.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/partials/_03_structure.scss */
html, body {
  margin: 0;
}

/* line 13, ../sass/partials/_03_structure.scss */
article {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 20, ../sass/partials/_03_structure.scss */
a {
  padding: 5px 0;
  text-decoration: none;
}

/* line 25, ../sass/partials/_03_structure.scss */
td {
  background-clip: padding-box !important;
}

/* line 29, ../sass/partials/_03_structure.scss */
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 37, ../sass/partials/_03_structure.scss */
#global-header {
  overflow: hidden;
  position: relative;
  margin: 0 auto 30px;
  padding: 21px 60px 0;
  width: 1050px;
}
/* line 43, ../sass/partials/_03_structure.scss */
#global-header h1 {
  float: left;
  margin: 0;
}
/* line 46, ../sass/partials/_03_structure.scss */
#global-header h1 a {
  display: block;
  height: 72px;
  width: 254px;
  color: transparent;
  background: url("css/img/top/logo.gif") 0 0 no-repeat;
}
/* line 54, ../sass/partials/_03_structure.scss */
#global-header nav {
  float: right;
  position: absolute;
  bottom: 5px;
  right: 60px;
  text-align: center;
}
/* line 60, ../sass/partials/_03_structure.scss */
#global-header nav ol {
  margin: 0;
  padding: 0;
}
/* line 64, ../sass/partials/_03_structure.scss */
#global-header nav li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 66, ../sass/partials/_03_structure.scss */
#global-header nav li:last-child {
  margin: 0;
}
/* line 70, ../sass/partials/_03_structure.scss */
#global-header nav a {
  display: block;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 77, ../sass/partials/_03_structure.scss */
.nav-news {
  height: 30px;
  width: 100px;
  background: url("css/img/top/gnavi01_off.gif") 0 0 no-repeat;
}
/* line 81, ../sass/partials/_03_structure.scss */
.nav-news:hover {
  background: url("css/img/top/gnavi01_on.gif") 0 0 no-repeat;
}

/* line 86, ../sass/partials/_03_structure.scss */
.nav-books {
  height: 30px;
  width: 109px;
  background: url("css/img/top/gnavi02_off.gif") 0 0 no-repeat;
}
/* line 90, ../sass/partials/_03_structure.scss */
.nav-books:hover {
  background: url("css/img/top/gnavi02_on.gif") 0 0 no-repeat;
}

/* line 95, ../sass/partials/_03_structure.scss */
.nav-bs {
  height: 30px;
  width: 110px;
  background: url("css/img/top/gnavi03_off.gif") 0 0 no-repeat;
}
/* line 99, ../sass/partials/_03_structure.scss */
.nav-bs:hover {
  background: url("css/img/top/gnavi03_on.gif") 0 0 no-repeat;
}

/* line 104, ../sass/partials/_03_structure.scss */
.nav-order {
  height: 30px;
  width: 165px;
  background: url("css/img/top/gnavi04_off.gif") 0 0 no-repeat;
}
/* line 108, ../sass/partials/_03_structure.scss */
.nav-order:hover {
  background: url("css/img/top/gnavi04_on.gif") 0 0 no-repeat;
}

/* line 113, ../sass/partials/_03_structure.scss */
.nav-company {
  height: 30px;
  width: 107px;
  background: url("css/img/top/gnavi05_off.gif") 0 0 no-repeat;
}
/* line 117, ../sass/partials/_03_structure.scss */
.nav-company:hover {
  background: url("css/img/top/gnavi05_on.gif") 0 0 no-repeat;
}

/* line 122, ../sass/partials/_03_structure.scss */
.section-wrapper {
  width: 1050px;
  margin: 0 auto 30px;
}

/* line 127, ../sass/partials/_03_structure.scss */
.metaslider {
  margin: 0 auto 30px;
}

/* line 133, ../sass/partials/_03_structure.scss */
.banner-wrapper {
  margin: 0 auto 45px;
  text-align: center;
}
/* line 136, ../sass/partials/_03_structure.scss */
.banner-wrapper li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 138, ../sass/partials/_03_structure.scss */
.banner-wrapper li:first-child {
  margin-right: 85px;
}
/* line 142, ../sass/partials/_03_structure.scss */
.banner-wrapper a {
  display: block;
  height: 75px;
  width: 280px;
}

/* line 149, ../sass/partials/_03_structure.scss */
.top-banner-1 {
  background: url("css/img/top/banner01.gif") 0 0 no-repeat;
}

/* line 153, ../sass/partials/_03_structure.scss */
.top-banner-2 {
  background: url("css/img/top/banner02.gif") 0 0 no-repeat;
}

/* line 159, ../sass/partials/_03_structure.scss */
.index-pickup h2, .index-books h2, .index-editorial h2, .index-news h2 {
  height: 55px;
  width: 220px;
  margin: 0 auto 30px;
  text-align: center;
  color: transparent;
}

/* line 167, ../sass/partials/_03_structure.scss */
.index-pickup {
  padding: 0 60px;
}
/* line 169, ../sass/partials/_03_structure.scss */
.index-pickup h2 {
  background: url("css/img/top/img_txt.gif") 0 0 no-repeat;
}
/* line 173, ../sass/partials/_03_structure.scss */
.index-pickup .tag-recommend, .index-pickup .tag-popular, .index-pickup .tag-reprint {
  display: block;
  width: 150px;
  height: 40px;
  margin: 0 auto 15px;
}
/* line 179, ../sass/partials/_03_structure.scss */
.index-pickup .tag-recommend {
  background: url("css/img/top/icon_a.gif") 0 0 no-repeat;
}
/* line 183, ../sass/partials/_03_structure.scss */
.index-pickup .tag-popular {
  background: url("css/img/top/icon_b.gif") 0 0 no-repeat;
}
/* line 187, ../sass/partials/_03_structure.scss */
.index-pickup .tag-reprint {
  background: url("css/img/top/icon_c.gif") 0 0 no-repeat;
}

/* line 193, ../sass/partials/_03_structure.scss */
.index-books {
  padding: 0 60px;
}
/* line 195, ../sass/partials/_03_structure.scss */
.index-books h2 {
  background: url("css/img/top/txt_books.gif") 0 0 no-repeat;
}

/* line 201, ../sass/partials/_03_structure.scss */
.pickup-books > li, .new-books > li {
  float: left;
  width: 280px;
  margin: 0;
}
/* line 205, ../sass/partials/_03_structure.scss */
.pickup-books > li img, .new-books > li img {
  display: block;
  max-height: 260px;
  max-width: 280px;
  margin-bottom: 25px;
}
/* line 211, ../sass/partials/_03_structure.scss */
.pickup-books > li:nth-child(1), .new-books > li:nth-child(1) {
  margin: 0 0 30px;
}
/* line 214, ../sass/partials/_03_structure.scss */
.pickup-books > li:nth-child(2), .new-books > li:nth-child(2) {
  margin: 0 45px 30px;
}
/* line 218, ../sass/partials/_03_structure.scss */
.pickup-books > li:nth-child(3), .new-books > li:nth-child(3) {
  margin: 0 0 30px;
}
/* line 221, ../sass/partials/_03_structure.scss */
.pickup-books > li:nth-child(5), .new-books > li:nth-child(5) {
  margin: 0 30px 0;
}

/* line 226, ../sass/partials/_03_structure.scss */
.index-editorial {
  padding: 0 110px;
}
/* line 228, ../sass/partials/_03_structure.scss */
.index-editorial h2 {
  background: url("css/img/top/txt_hensyubu.gif") 0 0 no-repeat;
}
/* line 232, ../sass/partials/_03_structure.scss */
.index-editorial h3 {
  position: relative;
  margin-top: 0;
}
/* line 235, ../sass/partials/_03_structure.scss */
.index-editorial h3 time {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 241, ../sass/partials/_03_structure.scss */
.index-editorial p {
  margin: 0;
}
/* line 244, ../sass/partials/_03_structure.scss */
.index-editorial figure {
  display: none;
}
/* line 247, ../sass/partials/_03_structure.scss */
.index-editorial .more-link {
  display: none;
}

/* line 252, ../sass/partials/_03_structure.scss */
.index-news {
  padding: 0 110px;
}
/* line 254, ../sass/partials/_03_structure.scss */
.index-news h2 {
  background: url("css/img/top/txt_news.gif") 0 0 no-repeat;
}

/* line 261, ../sass/partials/_03_structure.scss */
.news-contents li {
  line-height: 2.1em;
}
/* line 264, ../sass/partials/_03_structure.scss */
.news-contents time {
  margin-right: 30px;
}

/* line 271, ../sass/partials/_03_structure.scss */
#global-footer {
  width: 100%;
  padding: 45px 0 0;
  background: #f2ddd2;
}

/* line 277, ../sass/partials/_03_structure.scss */
.footer-navigation {
  position: relative;
  width: 1050px;
  margin: 0 auto 45px;
  padding: 0 60px;
}
/* line 282, ../sass/partials/_03_structure.scss */
.footer-navigation ol {
  float: left;
  height: 11em;
  width: 25%;
  padding: 0 0 0 20px;
  border-left: solid 1px #a29381;
}

/* line 291, ../sass/partials/_03_structure.scss */
.footer-banner-1 {
  background: url("css/img/top/banner_custom.gif") 0 0 no-repeat;
}

/* line 295, ../sass/partials/_03_structure.scss */
.footer-banner-2 {
  background: url("css/img/top/banner_water.gif") 0 0 no-repeat;
}

/* line 299, ../sass/partials/_03_structure.scss */
.footer-company-info {
  float: right;
  height: 11em;
  width: 50%;
  padding: 0 0 0 20px;
  border-left: solid 1px #a29381;
}

/* line 307, ../sass/partials/_03_structure.scss */
.footer-copyright {
  overflow: hidden;
  width: 100%;
  background: #a29381;
}
/* line 311, ../sass/partials/_03_structure.scss */
.footer-copyright p {
  width: 930px;
  margin-left: auto;
  margin-right: auto;
}

/* line 320, ../sass/partials/_03_structure.scss */
.banner-news, .banner-books, .banner-bs, .banner-order, .banner-company, .banner-privacy {
  display: block;
  height: 175px;
  width: 1050px;
  margin: 0 auto 30px;
  color: transparent;
}

/* line 328, ../sass/partials/_03_structure.scss */
.section-wrapper-bs, .section-wrapper-order, .section-wrapper-company, .section-wrapper-privacy {
  width: 730px;
  margin: 0 auto 80px;
}

/* line 335, ../sass/partials/_03_structure.scss */
.banner-news {
  background: url("css/img/news/title_01.jpg") 0 0 no-repeat;
}

/* line 340, ../sass/partials/_03_structure.scss */
.news, .editor {
  width: 930px;
  margin: 0 auto 30px;
}
/* line 343, ../sass/partials/_03_structure.scss */
.news:last-child, .editor:last-child {
  margin-bottom: 80px;
}

/* line 348, ../sass/partials/_03_structure.scss */
.news-index {
  overflow: hidden;
  position: relative;
  width: 930px;
  height: 280px;
  margin: 0 auto 30px;
  padding: 40px 70px;
  border: solid 1px #c9caca;
}
/* line 356, ../sass/partials/_03_structure.scss */
.news-index .entry-header {
  float: left;
  width: 520px;
  margin-bottom: 25px;
}
/* line 361, ../sass/partials/_03_structure.scss */
.news-index .entry-date {
  float: left;
  width: 520px;
  text-align: right;
}
/* line 366, ../sass/partials/_03_structure.scss */
.news-index .entry-title {
  margin: 0;
}
/* line 369, ../sass/partials/_03_structure.scss */
.news-index .entry-content {
  float: left;
  width: 520px;
  max-height: 110px;
  overflow: hidden;
}
/* line 374, ../sass/partials/_03_structure.scss */
.news-index .entry-content p {
  margin: 0;
  padding: 0;
}
/* line 378, ../sass/partials/_03_structure.scss */
.news-index .entry-content figure {
  display: none;
}
/* line 382, ../sass/partials/_03_structure.scss */
.news-index .post-thumbnail {
  position: absolute;
  right: 60px;
  width: 215px;
  text-align: center;
}
/* line 387, ../sass/partials/_03_structure.scss */
.news-index .post-thumbnail img {
  width: auto;
  height: 200px;
}

/* line 394, ../sass/partials/_03_structure.scss */
.news-single {
  position: relative;
  padding: 30px 175px;
  border: solid 1px #c9caca;
}
/* line 398, ../sass/partials/_03_structure.scss */
.news-single .entry-header {
  margin-bottom: 25px;
}
/* line 402, ../sass/partials/_03_structure.scss */
.news-single .entry-content figure {
  margin: 0;
}
/* line 405, ../sass/partials/_03_structure.scss */
.news-single .entry-content figcaption {
  display: none;
}
/* line 409, ../sass/partials/_03_structure.scss */
.news-single .post-thumbnail {
  margin-bottom: 70px;
  text-align: center;
}
/* line 412, ../sass/partials/_03_structure.scss */
.news-single .post-thumbnail img {
  width: auto;
  height: 279px;
}
/* line 417, ../sass/partials/_03_structure.scss */
.news-single .entry-date {
  display: block;
  width: 100%;
  text-align: right;
}
/* line 422, ../sass/partials/_03_structure.scss */
.news-single .entry-title {
  margin: 0;
}
/* line 426, ../sass/partials/_03_structure.scss */
.news-single .entry-content p {
  margin: 0;
  padding: 0;
}

/* line 435, ../sass/partials/_03_structure.scss */
.banner-books {
  background: url("css/img/books/title_01.jpg") 0 0 no-repeat;
}

/* line 440, ../sass/partials/_03_structure.scss */
.books {
  width: 930px;
  margin: 0 auto 30px;
}
/* line 443, ../sass/partials/_03_structure.scss */
.books:last-child {
  margin-bottom: 80px;
}

/* line 448, ../sass/partials/_03_structure.scss */
.books-header {
  width: 930px;
  margin: 0 auto;
}

/* line 453, ../sass/partials/_03_structure.scss */
.books-nav {
  margin-bottom: 30px;
}
/* line 455, ../sass/partials/_03_structure.scss */
.books-nav li {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 458, ../sass/partials/_03_structure.scss */
.books-nav li a {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 461, ../sass/partials/_03_structure.scss */
.books-nav li:nth-child(5) {
  margin-right: 0;
}
/* line 464, ../sass/partials/_03_structure.scss */
.books-nav li:last-child {
  margin-right: 0;
  margin-left: 75px;
}
/* line 469, ../sass/partials/_03_structure.scss */
.books-nav .n01 a.current {
  background: url("css/img/books/navi/n01.gif") 0 0 no-repeat;
}
/* line 472, ../sass/partials/_03_structure.scss */
.books-nav .n01 a {
  display: block;
  width: 182px;
  height: 50px;
  color: transparent;
  background: url("css/img/books/navi/n01_off.gif") 0 0 no-repeat;
}
/* line 478, ../sass/partials/_03_structure.scss */
.books-nav .n01 a:hover {
  background: url("css/img/books/navi/n01_on.gif") 0 0 no-repeat;
}
/* line 481, ../sass/partials/_03_structure.scss */
.books-nav .n01 a:active {
  background: url("css/img/books/navi/n01_on.gif") 0 0 no-repeat;
}
/* line 485, ../sass/partials/_03_structure.scss */
.books-nav .n02 a.current {
  background: url("css/img/books/navi/n02.gif") 0 0 no-repeat;
}
/* line 488, ../sass/partials/_03_structure.scss */
.books-nav .n02 a {
  display: block;
  width: 182px;
  height: 50px;
  color: transparent;
  background: url("css/img/books/navi/n02_off.gif") 0 0 no-repeat;
}
/* line 494, ../sass/partials/_03_structure.scss */
.books-nav .n02 a:hover {
  background: url("css/img/books/navi/n02_on.gif") 0 0 no-repeat;
}
/* line 497, ../sass/partials/_03_structure.scss */
.books-nav .n02 a:active {
  background: url("css/img/books/navi/n02_on.gif") 0 0 no-repeat;
}
/* line 501, ../sass/partials/_03_structure.scss */
.books-nav .n03 a.current {
  background: url("css/img/books/navi/n03.gif") 0 0 no-repeat;
}
/* line 504, ../sass/partials/_03_structure.scss */
.books-nav .n03 a {
  display: block;
  width: 182px;
  height: 50px;
  color: transparent;
  background: url("css/img/books/navi/n03_off.gif") 0 0 no-repeat;
}
/* line 510, ../sass/partials/_03_structure.scss */
.books-nav .n03 a:hover {
  background: url("css/img/books/navi/n03_on.gif") 0 0 no-repeat;
}
/* line 513, ../sass/partials/_03_structure.scss */
.books-nav .n03 a:active {
  background: url("css/img/books/navi/n03_on.gif") 0 0 no-repeat;
}
/* line 517, ../sass/partials/_03_structure.scss */
.books-nav .n04 a.current {
  background: url("css/img/books/navi/n04.gif") 0 0 no-repeat;
}
/* line 520, ../sass/partials/_03_structure.scss */
.books-nav .n04 a {
  display: block;
  width: 182px;
  height: 50px;
  color: transparent;
  background: url("css/img/books/navi/n04_off.gif") 0 0 no-repeat;
}
/* line 526, ../sass/partials/_03_structure.scss */
.books-nav .n04 a:hover {
  background: url("css/img/books/navi/n04_on.gif") 0 0 no-repeat;
}
/* line 529, ../sass/partials/_03_structure.scss */
.books-nav .n04 a:active {
  background: url("css/img/books/navi/n04_on.gif") 0 0 no-repeat;
}
/* line 533, ../sass/partials/_03_structure.scss */
.books-nav .n05 a.current {
  background: url("css/img/books/navi/n05.gif") 0 0 no-repeat;
}
/* line 536, ../sass/partials/_03_structure.scss */
.books-nav .n05 a {
  display: block;
  width: 182px;
  height: 50px;
  color: transparent;
  background: url("css/img/books/navi/n05_off.gif") 0 0 no-repeat;
}
/* line 542, ../sass/partials/_03_structure.scss */
.books-nav .n05 a:hover {
  background: url("css/img/books/navi/n05_on.gif") 0 0 no-repeat;
}
/* line 545, ../sass/partials/_03_structure.scss */
.books-nav .n05 a:active {
  background: url("css/img/books/navi/n05_on.gif") 0 0 no-repeat;
}
/* line 549, ../sass/partials/_03_structure.scss */
.books-nav .n06 a.current {
  background: url("css/img/books/navi/n06.gif") 0 0 no-repeat;
}
/* line 552, ../sass/partials/_03_structure.scss */
.books-nav .n06 a {
  display: block;
  width: 182px;
  height: 50px;
  color: transparent;
  background: url("css/img/books/navi/n06_off.gif") 0 0 no-repeat;
}
/* line 558, ../sass/partials/_03_structure.scss */
.books-nav .n06 a:hover {
  background: url("css/img/books/navi/n06_on.gif") 0 0 no-repeat;
}
/* line 561, ../sass/partials/_03_structure.scss */
.books-nav .n06 a:active {
  background: url("css/img/books/navi/n06_on.gif") 0 0 no-repeat;
}
/* line 565, ../sass/partials/_03_structure.scss */
.books-nav .n07 a.current {
  background: url("css/img/books/navi/n07.gif") 0 0 no-repeat;
}
/* line 568, ../sass/partials/_03_structure.scss */
.books-nav .n07 a {
  display: block;
  width: 182px;
  height: 50px;
  color: transparent;
  background: url("css/img/books/navi/n07_off.gif") 0 0 no-repeat;
}
/* line 574, ../sass/partials/_03_structure.scss */
.books-nav .n07 a:hover {
  background: url("css/img/books/navi/n07_on.gif") 0 0 no-repeat;
}
/* line 577, ../sass/partials/_03_structure.scss */
.books-nav .n07 a:active {
  background: url("css/img/books/navi/n07_on.gif") 0 0 no-repeat;
}

/* line 583, ../sass/partials/_03_structure.scss */
.search-form {
  position: relative;
  width: 410px;
  height: 37px;
  background: #eeeeee;
  border: solid 1px #cac9c9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 592, ../sass/partials/_03_structure.scss */
.search-text {
  position: absolute;
  display: block;
  top: 12px;
  left: 10px;
  width: 119px;
  height: 11px;
  background: url("css/img/books/search/txt_search.gif") 0 0 no-repeat;
}

/* line 602, ../sass/partials/_03_structure.scss */
.search-field {
  position: absolute;
  top: 7px;
  left: 134px;
  width: 215px;
  height: 23px;
  margin: 0 5px;
  padding: 5px;
  font-size: 11px;
  line-height: normal;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 615, ../sass/partials/_03_structure.scss */
.search-submit {
  position: absolute;
  top: 8px;
  left: 359px;
  width: 39px;
  height: 19px;
  background: url("css/img/books/search/btn_search.gif") 0 0 no-repeat;
  color: transparent;
}

/* line 625, ../sass/partials/_03_structure.scss */
.books-index {
  overflow: hidden;
  position: relative;
  width: 930px;
  height: 286px;
  margin: 0 auto 30px;
  padding: 40px 70px;
  border: solid 1px #c9caca;
}
/* line 633, ../sass/partials/_03_structure.scss */
.books-index .index-hide {
  display: none;
}
/* line 636, ../sass/partials/_03_structure.scss */
.books-index .entry-header {
  float: left;
  width: 520px;
  margin: 0;
}
/* line 641, ../sass/partials/_03_structure.scss */
.books-index .entry-date {
  float: left;
  width: 520px;
  text-align: right;
}
/* line 646, ../sass/partials/_03_structure.scss */
.books-index .entry-title {
  margin: 0;
}
/* line 649, ../sass/partials/_03_structure.scss */
.books-index .entry-subtitle {
  margin: 0 0 0.5em;
}
/* line 652, ../sass/partials/_03_structure.scss */
.books-index hr {
  margin: 0 0 6px;
  border: none;
  border-top: dotted 1px #c9caca;
}
/* line 657, ../sass/partials/_03_structure.scss */
.books-index .entry-content {
  float: left;
  width: 520px;
}
/* line 660, ../sass/partials/_03_structure.scss */
.books-index .entry-content p {
  max-height: 80px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* line 667, ../sass/partials/_03_structure.scss */
.books-index .post-thumbnail {
  position: absolute;
  right: 60px;
  width: 215px;
  text-align: center;
}
/* line 672, ../sass/partials/_03_structure.scss */
.books-index .post-thumbnail img {
  width: auto;
  height: 200px;
}

/* line 679, ../sass/partials/_03_structure.scss */
.books-single {
  position: relative;
  padding: 30px 0;
  border: solid 1px #c9caca;
}
/* line 683, ../sass/partials/_03_structure.scss */
.books-single .post-hide {
  display: none;
}
/* line 686, ../sass/partials/_03_structure.scss */
.books-single .entry-image {
  text-align: center;
}
/* line 688, ../sass/partials/_03_structure.scss */
.books-single .entry-image li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 690, ../sass/partials/_03_structure.scss */
.books-single .entry-image li:nth-child(2) {
  margin-left: 70px;
}
/* line 695, ../sass/partials/_03_structure.scss */
.books-single .post-thumbnail {
  margin-bottom: 30px;
}
/* line 697, ../sass/partials/_03_structure.scss */
.books-single .post-thumbnail img {
  height: 323px;
  width: auto;
}
/* line 702, ../sass/partials/_03_structure.scss */
.books-single .entry-subimage {
  height: 323px;
  width: auto;
  margin-bottom: 30px;
}
/* line 707, ../sass/partials/_03_structure.scss */
.books-single .entry-title {
  position: relative;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 712, ../sass/partials/_03_structure.scss */
.books-single hr {
  margin: 1em 0;
  border: none;
  border-top: dotted 1px #c9caca;
}
/* line 717, ../sass/partials/_03_structure.scss */
.books-single .entry-content {
  position: relative;
  margin: 0 175px;
}
/* line 721, ../sass/partials/_03_structure.scss */
.books-single .entry-subtitle {
  margin: 0 0 1em;
}
/* line 724, ../sass/partials/_03_structure.scss */
.books-single .book-heading {
  position: relative;
}
/* line 727, ../sass/partials/_03_structure.scss */
.books-single .book-purchase {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 731, ../sass/partials/_03_structure.scss */
.books-single .book-purchase .amazon {
  display: block;
  height: 26px;
  width: 127px;
  margin-bottom: 1em;
  color: transparent;
  background: url("css/img/books/banner/amazon.png") 0 0 no-repeat;
}
/* line 739, ../sass/partials/_03_structure.scss */
.books-single .book-purchase .hanmotocom {
  display: block;
  height: 55px;
  width: 200px;
  color: transparent;
  background: url("css/img/books/banner/hanmotocom.png") 0 0 no-repeat;
}
/* line 747, ../sass/partials/_03_structure.scss */
.books-single h4 {
  margin-bottom: 0;
}
/* line 750, ../sass/partials/_03_structure.scss */
.books-single h5 {
  margin: 0;
}
/* line 753, ../sass/partials/_03_structure.scss */
.books-single ol {
  margin-bottom: 1.5em;
}

/* line 759, ../sass/partials/_03_structure.scss */
.tag-soon .entry-title:after {
  content: ' ';
  position: absolute;
  top: 8px;
  right: -77px;
  width: 67px;
  height: 23px;
  background: url("css/img/books/icon/icon01.gif") 0 0 no-repeat;
}

/* line 772, ../sass/partials/_03_structure.scss */
.banner-bs {
  background: url("css/img/bs/title_01.jpg") 0 0 no-repeat;
}

/* line 780, ../sass/partials/_03_structure.scss */
.section-wrapper-bs p:first-child {
  margin-bottom: 80px;
}

/* line 786, ../sass/partials/_03_structure.scss */
.fax-button {
  display: block;
  height: 27px;
  width: 180px;
  color: transparent;
  background: url("css/img/bs/dl.gif") 0 0 no-repeat;
}

/* line 796, ../sass/partials/_03_structure.scss */
.banner-order {
  background: url("css/img/order/title_01.jpg") 0 0 no-repeat;
}

/* line 803, ../sass/partials/_03_structure.scss */
.section-wrapper-order p {
  margin-bottom: 2em;
  text-indent: 1em;
}

/* line 811, ../sass/partials/_03_structure.scss */
.banner-company {
  background: url("css/img/company/title_01.jpg") 0 0 no-repeat;
}

/* line 818, ../sass/partials/_03_structure.scss */
.section-wrapper-company p {
  margin-bottom: 2em;
  text-indent: 1em;
}

/* line 824, ../sass/partials/_03_structure.scss */
.subsection-greetings {
  margin-bottom: 80px;
}
/* line 826, ../sass/partials/_03_structure.scss */
.subsection-greetings h3 {
  display: block;
  height: 40px;
  width: 177px;
  margin: 0 auto 55px;
  color: transparent;
  background: url("css/img/company/greetings.gif");
}

/* line 836, ../sass/partials/_03_structure.scss */
.subsection-cp {
  text-align: center;
}
/* line 838, ../sass/partials/_03_structure.scss */
.subsection-cp h3 {
  display: block;
  height: 40px;
  width: 213px;
  margin: 0 auto 50px;
  color: transparent;
  background: url("css/img/company/cp.gif");
}

/* line 848, ../sass/partials/_03_structure.scss */
.cp-wrapper {
  padding: 75px 0;
  border: dotted 1px #333333;
}
/* line 851, ../sass/partials/_03_structure.scss */
.cp-wrapper h4 {
  margin-bottom: 35px;
}
/* line 855, ../sass/partials/_03_structure.scss */
.cp-wrapper p:nth-child(2) {
  margin-bottom: 6em;
}

/* line 863, ../sass/partials/_03_structure.scss */
.banner-privacy {
  background: url("css/img/privacy/title_01.jpg") 0 0 no-repeat;
}

/* line 870, ../sass/partials/_03_structure.scss */
.section-wrapper-privacy li {
  list-style: decimal;
  margin-bottom: 2em;
}
/* line 874, ../sass/partials/_03_structure.scss */
.section-wrapper-privacy p {
  text-indent: 1em;
}

/* line 880, ../sass/partials/_03_structure.scss */
.section-wrapper-privacy > p:first-child {
  margin-bottom: 2em;
}
/* line 883, ../sass/partials/_03_structure.scss */
.section-wrapper-privacy > p:last-child {
  text-indent: 0;
}

/* line 890, ../sass/partials/_03_structure.scss */
.search-query {
  margin: 0;
}

/* line 896, ../sass/partials/_03_structure.scss */
.link-more {
  float: right;
}

/* line 900, ../sass/partials/_03_structure.scss */
.screen-reader-text {
  visibility: hidden;
}

/* line 904, ../sass/partials/_03_structure.scss */
.numeric-nav {
  margin-bottom: 30px;
  text-align: center;
}
/* line 907, ../sass/partials/_03_structure.scss */
.numeric-nav li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 909, ../sass/partials/_03_structure.scss */
.numeric-nav li a {
  padding: 8px 12px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 913, ../sass/partials/_03_structure.scss */
.numeric-nav li a:hover {
  background: #f2ddd2;
}
/* line 916, ../sass/partials/_03_structure.scss */
.numeric-nav li a:active {
  background: #f2ddd2;
}
/* line 919, ../sass/partials/_03_structure.scss */
.numeric-nav li span {
  padding: 8px 12px;
  background: #f2ddd2;
}

/* line 3, ../sass/partials/_05_gvariables.scss */
.align-l {
  text-align: left;
}

/* line 7, ../sass/partials/_05_gvariables.scss */
.highlight {
  color: #a48878;
}

/* line 11, ../sass/partials/_05_gvariables.scss */
.cf {
  overflow: hidden;
  *zoom: 1;
}
