@charset "UTF-8";
/* line 3, ../sass/partials/_02_typography.scss */
.footer-company-info li:first-child, a, form, li, p, span, td, ul, h4, h5, time, input, textarea, footer, h3 {
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  line-height: 2em;
}

/* line 12, ../sass/partials/_02_typography.scss */
.footer-company-info li:first-child {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "times new roman", serif;
}

/* line 17, ../sass/partials/_02_typography.scss */
a, form, li, p, span, td, ul, h4, h5, time, input, textarea, footer, h3 {
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", Osaka, sans-serif;
}

/* line 22, ../sass/partials/_02_typography.scss */
a, form, li, p, span, td, ul, h4, h5, time, input, textarea, footer {
  font-size: 14px;
  color: #333;
}

/* line 28, ../sass/partials/_02_typography.scss */
h3 {
  font-size: 16px;
  color: #333;
}

/* line 34, ../sass/partials/_02_typography.scss */
h4 {
  font-size: 18px;
  color: #333;
}

/* line 40, ../sass/partials/_02_typography.scss */
.index-editorial time {
  font-size: 14px;
}

/* line 45, ../sass/partials/_02_typography.scss */
.footer-navigation a {
  font-size: 13px;
  color: #7a6a56;
}

/* line 52, ../sass/partials/_02_typography.scss */
.footer-company-info li {
  color: #7a6a56;
}
/* line 54, ../sass/partials/_02_typography.scss */
.footer-company-info li:first-child {
  font-size: 20px;
}

/* line 62, ../sass/partials/_02_typography.scss */
.footer-copyright p {
  font-size: 11px;
  color: #fff;
}

/* line 71, ../sass/partials/_02_typography.scss */
.news-index h3 a {
  font-size: 19px;
  color: #a48878;
}

/* line 78, ../sass/partials/_02_typography.scss */
.news-single h3 {
  font-size: 19px;
  color: #a48878;
}

/* line 86, ../sass/partials/_02_typography.scss */
.link-more {
  color: #a48878;
}

/* line 90, ../sass/partials/_02_typography.scss */
.underline {
  text-decoration: underline;
}

/* line 5, ../sass/partials/_03_structure.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/partials/_03_structure.scss */
html, body {
  margin: 0;
}

/* line 13, ../sass/partials/_03_structure.scss */
article {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 20, ../sass/partials/_03_structure.scss */
a {
  padding: 5px 0;
  text-decoration: none;
}

/* line 27, ../sass/partials/_03_structure.scss */
td {
  background-clip: padding-box !important;
}

/* line 31, ../sass/partials/_03_structure.scss */
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 39, ../sass/partials/_03_structure.scss */
#global-header {
  overflow: hidden;
  position: relative;
  margin: 0 auto 45px;
  padding: 21px 60px 0;
  width: 1050px;
}
/* line 45, ../sass/partials/_03_structure.scss */
#global-header h1 {
  float: left;
  margin: 0;
}
/* line 48, ../sass/partials/_03_structure.scss */
#global-header h1 a {
  display: block;
  height: 72px;
  width: 254px;
  color: transparent;
  background: url("css/img/top/logo.gif") 0 0 no-repeat;
}
/* line 56, ../sass/partials/_03_structure.scss */
#global-header nav {
  float: right;
  position: absolute;
  bottom: 5px;
  right: 60px;
  text-align: center;
}
/* line 62, ../sass/partials/_03_structure.scss */
#global-header nav ol {
  margin: 0;
  padding: 0;
}
/* line 66, ../sass/partials/_03_structure.scss */
#global-header nav li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 68, ../sass/partials/_03_structure.scss */
#global-header nav li:last-child {
  margin: 0;
}
/* line 72, ../sass/partials/_03_structure.scss */
#global-header nav a {
  display: block;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 79, ../sass/partials/_03_structure.scss */
.nav-news {
  height: 30px;
  width: 100px;
  background: url("css/img/top/gnavi01_off.gif") 0 0 no-repeat;
}
/* line 83, ../sass/partials/_03_structure.scss */
.nav-news:hover {
  background: url("css/img/top/gnavi01_on.gif") 0 0 no-repeat;
}

/* line 88, ../sass/partials/_03_structure.scss */
.nav-books {
  height: 30px;
  width: 109px;
  background: url("css/img/top/gnavi02_off.gif") 0 0 no-repeat;
}
/* line 92, ../sass/partials/_03_structure.scss */
.nav-books:hover {
  background: url("css/img/top/gnavi02_on.gif") 0 0 no-repeat;
}

/* line 97, ../sass/partials/_03_structure.scss */
.nav-bs {
  height: 30px;
  width: 110px;
  background: url("css/img/top/gnavi03_off.gif") 0 0 no-repeat;
}
/* line 101, ../sass/partials/_03_structure.scss */
.nav-bs:hover {
  background: url("css/img/top/gnavi03_on.gif") 0 0 no-repeat;
}

/* line 106, ../sass/partials/_03_structure.scss */
.nav-order {
  height: 30px;
  width: 165px;
  background: url("css/img/top/gnavi04_off.gif") 0 0 no-repeat;
}
/* line 110, ../sass/partials/_03_structure.scss */
.nav-order:hover {
  background: url("css/img/top/gnavi04_on.gif") 0 0 no-repeat;
}

/* line 115, ../sass/partials/_03_structure.scss */
.nav-company {
  height: 30px;
  width: 107px;
  background: url("css/img/top/gnavi05_off.gif") 0 0 no-repeat;
}
/* line 119, ../sass/partials/_03_structure.scss */
.nav-company:hover {
  background: url("css/img/top/gnavi05_on.gif") 0 0 no-repeat;
}

/* line 124, ../sass/partials/_03_structure.scss */
.section-wrapper {
  width: 1050px;
  margin: 0 auto 60px;
}

/* line 129, ../sass/partials/_03_structure.scss */
.metaslider {
  margin: 0 auto 60px;
}

/* line 135, ../sass/partials/_03_structure.scss */
.banner-wrapper {
  margin: 0 auto 60px;
  text-align: center;
}
/* line 138, ../sass/partials/_03_structure.scss */
.banner-wrapper li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 140, ../sass/partials/_03_structure.scss */
.banner-wrapper li:first-child {
  margin-right: 85px;
}
/* line 144, ../sass/partials/_03_structure.scss */
.banner-wrapper a {
  display: block;
  height: 75px;
  width: 280px;
}

/* line 151, ../sass/partials/_03_structure.scss */
.top-banner-1 {
  background: url("css/img/top/banner01.gif") 0 0 no-repeat;
}

/* line 155, ../sass/partials/_03_structure.scss */
.top-banner-2 {
  background: url("css/img/top/banner02.gif") 0 0 no-repeat;
}

/* line 161, ../sass/partials/_03_structure.scss */
.index-books h2, .index-editorial h2, .index-news h2 {
  height: 55px;
  width: 220px;
  margin: 0 auto 60px;
  text-align: center;
  color: transparent;
}

/* line 169, ../sass/partials/_03_structure.scss */
.index-books {
  padding: 0 60px;
}
/* line 171, ../sass/partials/_03_structure.scss */
.index-books h2 {
  background: url("css/img/top/txt_books.gif") 0 0 no-repeat;
}

/* line 177, ../sass/partials/_03_structure.scss */
.new-books > li {
  float: left;
  width: 280px;
  margin: 0;
}
/* line 181, ../sass/partials/_03_structure.scss */
.new-books > li img {
  display: block;
  max-height: 260px;
  max-width: 280px;
  margin-bottom: 25px;
}
/* line 187, ../sass/partials/_03_structure.scss */
.new-books > li:nth-child(1) {
  margin: 0 0 45px;
}
/* line 190, ../sass/partials/_03_structure.scss */
.new-books > li:nth-child(2) {
  margin: 0 45px 45px;
  margin-right: 45px;
}
/* line 194, ../sass/partials/_03_structure.scss */
.new-books > li:nth-child(3) {
  margin: 0 0 45px;
}
/* line 197, ../sass/partials/_03_structure.scss */
.new-books > li:nth-child(5) {
  margin: 0 45px 0;
}

/* line 202, ../sass/partials/_03_structure.scss */
.index-editorial {
  padding: 0 110px;
}
/* line 204, ../sass/partials/_03_structure.scss */
.index-editorial h2 {
  background: url("css/img/top/txt_hensyubu.gif") 0 0 no-repeat;
}
/* line 208, ../sass/partials/_03_structure.scss */
.index-editorial h3 {
  position: relative;
  margin-top: 0;
}
/* line 211, ../sass/partials/_03_structure.scss */
.index-editorial h3 time {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 219, ../sass/partials/_03_structure.scss */
.index-news {
  padding: 0 110px;
}
/* line 221, ../sass/partials/_03_structure.scss */
.index-news h2 {
  background: url("css/img/top/txt_news.gif") 0 0 no-repeat;
}

/* line 228, ../sass/partials/_03_structure.scss */
.news-contents li {
  line-height: 2.1em;
}
/* line 231, ../sass/partials/_03_structure.scss */
.news-contents time {
  margin-right: 30px;
}

/* line 238, ../sass/partials/_03_structure.scss */
#global-footer {
  width: 100%;
  padding: 70px 0 0;
  background: #f2ddd2;
}

/* line 244, ../sass/partials/_03_structure.scss */
.footer-navigation {
  position: relative;
  width: 1050px;
  margin: 0 auto 60px;
  padding: 0 60px;
}
/* line 249, ../sass/partials/_03_structure.scss */
.footer-navigation ol {
  float: left;
  height: 11em;
  width: 25%;
  padding: 0 0 0 20px;
  border-left: solid 1px #a29381;
}

/* line 258, ../sass/partials/_03_structure.scss */
.footer-banner-1 {
  background: url("css/img/top/banner_custom.gif") 0 0 no-repeat;
}

/* line 262, ../sass/partials/_03_structure.scss */
.footer-banner-2 {
  background: url("css/img/top/banner_water.gif") 0 0 no-repeat;
}

/* line 266, ../sass/partials/_03_structure.scss */
.footer-company-info {
  float: right;
  height: 11em;
  width: 50%;
  padding: 0 0 0 20px;
  border-left: solid 1px #a29381;
}

/* line 274, ../sass/partials/_03_structure.scss */
.footer-copyright {
  overflow: hidden;
  width: 100%;
  background: #a29381;
}
/* line 278, ../sass/partials/_03_structure.scss */
.footer-copyright p {
  width: 930px;
  margin-left: auto;
  margin-right: auto;
}

/* line 287, ../sass/partials/_03_structure.scss */
.banner-news, .banner-bs, .banner-order, .banner-company, .banner-privacy {
  display: block;
  height: 175px;
  width: 1050px;
  margin: 0 auto 80px;
  color: transparent;
}

/* line 295, ../sass/partials/_03_structure.scss */
.section-wrapper-news, .section-wrapper-bs, .section-wrapper-order, .section-wrapper-company, .section-wrapper-privacy {
  width: 730px;
  margin: 0 auto 160px;
}

/* line 302, ../sass/partials/_03_structure.scss */
.banner-news {
  background: url("css/img/news/title_01.jpg") 0 0 no-repeat;
}

/* line 309, ../sass/partials/_03_structure.scss */
.section-wrapper-news p {
  margin-bottom: 2em;
  text-indent: 1em;
}

/* line 315, ../sass/partials/_03_structure.scss */
.news-index {
  overflow: hidden;
  position: relative;
  width: 930px;
  height: 280px;
  margin: 0 auto 30px;
  padding: 40px 70px;
  border: solid 1px #333333;
}
/* line 323, ../sass/partials/_03_structure.scss */
.news-index:last-child {
  margin-bottom: 80px;
}
/* line 326, ../sass/partials/_03_structure.scss */
.news-index .entry-header {
  float: left;
  width: 520px;
  margin-bottom: 25px;
}
/* line 331, ../sass/partials/_03_structure.scss */
.news-index .entry-date {
  float: left;
  width: 520px;
  text-align: right;
}
/* line 336, ../sass/partials/_03_structure.scss */
.news-index .entry-title {
  margin: 0;
}
/* line 339, ../sass/partials/_03_structure.scss */
.news-index .entry-content {
  float: left;
  width: 520px;
}
/* line 342, ../sass/partials/_03_structure.scss */
.news-index .entry-content p {
  margin: 0;
  padding: 0;
}
/* line 347, ../sass/partials/_03_structure.scss */
.news-index .post-thumbnail {
  position: absolute;
  right: 60px;
  width: 215px;
  text-align: center;
}
/* line 352, ../sass/partials/_03_structure.scss */
.news-index .post-thumbnail img {
  width: auto;
  height: 200px;
}

/* line 359, ../sass/partials/_03_structure.scss */
.news-single {
  position: relative;
  width: 930px;
  height: auto;
  margin: 0 auto 80px;
  padding: 70px 175px;
  border: solid 1px #333333;
}
/* line 366, ../sass/partials/_03_structure.scss */
.news-single .entry-header {
  margin-bottom: 25px;
}
/* line 369, ../sass/partials/_03_structure.scss */
.news-single .post-thumbnail {
  margin-bottom: 70px;
  text-align: center;
}
/* line 372, ../sass/partials/_03_structure.scss */
.news-single .post-thumbnail img {
  width: auto;
  height: 279px;
}
/* line 377, ../sass/partials/_03_structure.scss */
.news-single .entry-date {
  display: block;
  width: 100%;
  text-align: right;
}
/* line 382, ../sass/partials/_03_structure.scss */
.news-single .entry-title {
  margin: 0;
}
/* line 386, ../sass/partials/_03_structure.scss */
.news-single .entry-content p {
  margin: 0;
  padding: 0;
}

/* line 395, ../sass/partials/_03_structure.scss */
.banner-bs {
  background: url("css/img/bs/title_01.jpg") 0 0 no-repeat;
}

/* line 403, ../sass/partials/_03_structure.scss */
.section-wrapper-bs p:first-child {
  margin-bottom: 80px;
}

/* line 409, ../sass/partials/_03_structure.scss */
.fax-button {
  display: block;
  height: 27px;
  width: 180px;
  color: transparent;
  background: url("css/img/bs/dl.gif") 0 0 no-repeat;
}

/* line 419, ../sass/partials/_03_structure.scss */
.banner-order {
  background: url("css/img/order/title_01.jpg") 0 0 no-repeat;
}

/* line 426, ../sass/partials/_03_structure.scss */
.section-wrapper-order p {
  margin-bottom: 2em;
  text-indent: 1em;
}

/* line 434, ../sass/partials/_03_structure.scss */
.banner-company {
  background: url("css/img/company/title_01.jpg") 0 0 no-repeat;
}

/* line 441, ../sass/partials/_03_structure.scss */
.section-wrapper-company p {
  margin-bottom: 2em;
  text-indent: 1em;
}

/* line 447, ../sass/partials/_03_structure.scss */
.subsection-greetings {
  margin-bottom: 80px;
}
/* line 449, ../sass/partials/_03_structure.scss */
.subsection-greetings h3 {
  display: block;
  height: 40px;
  width: 177px;
  margin: 0 auto 55px;
  color: transparent;
  background: url("css/img/company/greetings.gif");
}

/* line 459, ../sass/partials/_03_structure.scss */
.subsection-cp {
  text-align: center;
}
/* line 461, ../sass/partials/_03_structure.scss */
.subsection-cp h3 {
  display: block;
  height: 40px;
  width: 213px;
  margin: 0 auto 50px;
  color: transparent;
  background: url("css/img/company/cp.gif");
}

/* line 471, ../sass/partials/_03_structure.scss */
.cp-wrapper {
  padding: 75px 0;
  border: dotted 1px #333;
}
/* line 474, ../sass/partials/_03_structure.scss */
.cp-wrapper h4 {
  margin-bottom: 35px;
}
/* line 478, ../sass/partials/_03_structure.scss */
.cp-wrapper p:nth-child(2) {
  margin-bottom: 6em;
}

/* line 486, ../sass/partials/_03_structure.scss */
.banner-privacy {
  background: url("css/img/privacy/title_01.jpg") 0 0 no-repeat;
}

/* line 493, ../sass/partials/_03_structure.scss */
.section-wrapper-privacy li {
  list-style: decimal;
  margin-bottom: 2em;
}
/* line 497, ../sass/partials/_03_structure.scss */
.section-wrapper-privacy p {
  text-indent: 1em;
}

/* line 503, ../sass/partials/_03_structure.scss */
.section-wrapper-privacy > p:first-child {
  margin-bottom: 2em;
}
/* line 506, ../sass/partials/_03_structure.scss */
.section-wrapper-privacy > p:last-child {
  text-indent: 0;
}

/* line 513, ../sass/partials/_03_structure.scss */
.link-more {
  display: block;
  text-align: right;
}

/* line 518, ../sass/partials/_03_structure.scss */
.more-link {
  text-decoration: underline;
}

/* line 522, ../sass/partials/_03_structure.scss */
.screen-reader-text {
  visibility: hidden;
}

/* line 3, ../sass/partials/_05_gvariables.scss */
.align-l {
  text-align: left;
}

/* line 7, ../sass/partials/_05_gvariables.scss */
.highlight {
  color: #8b4513;
}

/* line 11, ../sass/partials/_05_gvariables.scss */
.cf {
  overflow: hidden;
  *zoom: 1;
}
