// Typography partial

%text-base {
  font-weight: 300; 
  font-style: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  line-height: 1.615;
//  @include font-smoothing;  
}

%text-serif {
  @extend %text-base;
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "times new roman", serif; 
}

%text-sans-serif {
  @extend %text-base;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
}

a, form, li, p, span, td, ul, h4, h5, input, textarea, footer {
  @extend %text-sans-serif;
  font-size: 14px;
  color: #333
}

h3 {
  @extend %text-sans-serif;
  font-size: 16px;
  color: #333
}

.text-serif {
  @extend %text-serif;
}
