// Structure partial
// As a general rule, margins should be set in wrappers while
// paddings go in the elements inside the wrapper

*, *:before, *:after {
  @include box-sizing(border-box);
}

html, body {
  margin: 0;
}

article {
  width: 100%;
  margin: 0;
  padding: 0;
//  box-shadow: 0 0 10px 5px  rgba(0,0,0,0.2);
}

a {
  padding: 5px 0;
  text-decoration: none;
  &:hover {
  }
}

td {
  background-clip: padding-box !important;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Global header

header {
  overflow: hidden;
  position: relative;
  margin: 0 auto 45px;
  padding: 21px 60px 0;
  width: 1050px;
  h1 {
    float: left;
    margin: 0;
    a {
      display: block;
      height: 72px;
      width: 254px;
      color: transparent;
      background: url("css/img/top/logo.gif") 0 0 no-repeat;
    }
  }
  nav {
    float: right;
    position: absolute;
    bottom: 5px;
    right: 60px;
    text-align: center;
    ol {
      margin: 0;
      padding: 0;
    }
    li {
      @include inline-block;
      &:last-child {
        margin: 0;
      }
    }
    a {
      display: block;
      @include transition(all 0.3s ease-in-out);
    }
  } 
}

.nav-news {
  height: 30px;
  width: 100px;
  background: url("css/img/top/gnavi01_off.gif") 0 0 no-repeat;
  &:hover {
    background: url("css/img/top/gnavi01_on.gif") 0 0 no-repeat;
  }
}

.nav-books {
  height: 30px;
  width: 109px;
  background: url("css/img/top/gnavi02_off.gif") 0 0 no-repeat;
  &:hover {
    background: url("css/img/top/gnavi02_on.gif") 0 0 no-repeat;
  }
}

.nav-bs {
  height: 30px;
  width: 110px;
  background: url("css/img/top/gnavi03_off.gif") 0 0 no-repeat;
  &:hover {
    background: url("css/img/top/gnavi03_on.gif") 0 0 no-repeat;
  }
}

.nav-order {
  height: 30px;
  width: 165px;
  background: url("css/img/top/gnavi04_off.gif") 0 0 no-repeat;
  &:hover {
    background: url("css/img/top/gnavi04_on.gif") 0 0 no-repeat;
  }
}

.nav-company {
  height: 30px;
  width: 107px;
  background: url("css/img/top/gnavi05_off.gif") 0 0 no-repeat;
  &:hover {
    background: url("css/img/top/gnavi05_on.gif") 0 0 no-repeat;
  }
}

.section-wrapper {
  width: 1050px;
  margin: 0 auto 60px;
}

.metaslider {
  margin: 0 auto 60px;
}

// Banner

.banner-wrapper {
  margin: 0 auto 60px;
  text-align: center;
  li {
    @include inline-block;
    &:first-child {
      margin-right: 85px;
    }
  }
  a {
    display: block;
    height: 75px;
    width: 280px;
  }
}

.top-banner-1 {
  background: url("css/img/top/banner01.gif") 0 0 no-repeat;
}

.top-banner-2 {
    background: url("css/img/top/banner02.gif") 0 0 no-repeat;
}

// index.html

%h2-image {
  height: 55px;
  width: 220px;
  margin: 0 auto 60px;
  text-align: center;
  color: transparent;
}

.books {
  padding: 0 60px;
  h2 {
    @extend %h2-image;
    background: url("css/img/top/txt_books.gif") 0 0 no-repeat;
  }
}

.new-books > li {
  float: left;
  width: 280px;
  margin: 0;
  img {
    display: block;
    max-height: 260px;
    max-width: 280px;
    margin-bottom: 25px;
  }
  &:nth-child(1) {
    margin: 0 0 45px;
  }
  &:nth-child(2) {
    margin: 0 45px 45px;
    margin-right: 45px;
  }
  &:nth-child(3) {
    margin: 0 0 45px;
  }
  &:nth-child(5) {
    margin: 0 45px 0;
  }
}

.editorial {
  padding: 0 110px;
  h2 {
    @extend %h2-image;
    background: url("css/img/top/txt_hensyubu.gif") 0 0 no-repeat;
  }
  h3 {
    position: relative;
    margin-top: 0;
    time {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.news {
  padding: 0 110px;
  h2 {
    @extend %h2-image;
    background: url("css/img/top/txt_news.gif") 0 0 no-repeat;
  }
  ul > li {
    float: left;
    height: 300px;
    &:first-child {
      width: 510px;
      margin-right: 40px;
    }
    &:last-child {
      width: 280px;
    }
  }
}

.news-contents {
  li {
    line-height: 2.1em;
  }
  time {
    margin-right: 30px;
  }
}

// Global footer

.global-footer {
  width: 100%;
  padding: 70px 0 0;
  background: #f2ddd2;
}

.footer-navigation {
  position: relative;
  width: 1050px;
  margin: 0 auto 60px;
  padding: 0 60px;
  ol {
    float: left;
    height: 11em;
    width: 25%;
    padding: 0 0 0 20px;
    border-left: solid 1px #a29381;
  }
}

.footer-banner-1 {
  background: url("css/img/top/banner_custom.gif") 0 0 no-repeat;
}

.footer-banner-2 {
  background: url("css/img/top/banner_water.gif") 0 0 no-repeat;
}

.footer-company-info {
  float: right;
  height: 11em;
  width: 50%;
  padding: 0 0 0 20px;
  border-left: solid 1px #a29381;
}

.footer-copyright {
  overflow: hidden;
  width: 100%;
  background: #a29381;
  p {
    width: 930px;
    margin-left: auto;
    margin-right: auto;
  }
}

// Static pages

%banner-static {
  display: block;
  height: 175px;
  width: 1050px;
  margin: 0 auto 80px;
  color: transparent;
}

%section-wrapper-static {  
  width: 730px;
  margin: 0 auto 160px;
}

// bs.html

.banner-bs {
  @extend %banner-static;
  background: url("css/img/bs/title_01.jpg") 0 0 no-repeat;
}

.section-wrapper-bs {
  @extend %section-wrapper-static;
  p {
    &:first-child {
      margin-bottom: 80px;
    }
  }
}

.fax-button {
  display: block;
  height: 27px;
  width: 180px;
  color: transparent;
  background: url("css/img/bs/dl.gif") 0 0 no-repeat;
}

// order.html

.banner-order {
  @extend %banner-static;
  background: url("css/img/order/title_01.jpg") 0 0 no-repeat;
}

.section-wrapper-order {
  @extend %section-wrapper-static;
  p {
    margin-bottom: 2em;
    text-indent: 1em;
  }
}

// company.html

.banner-company {
  @extend %banner-static;
  background: url("css/img/company/title_01.jpg") 0 0 no-repeat;
}

.section-wrapper-company {
  @extend %section-wrapper-static;
  p {
    margin-bottom: 2em;
    text-indent: 1em;
  }
}

.subsection-greetings {
  margin-bottom: 80px;
  h3 {
    display: block;
    height: 40px;
    width: 177px;
    margin: 0 auto 55px;
    color: transparent;
    background: url("css/img/company/greetings.gif")
  }
}

.subsection-cp {
  text-align: center;
  h3 {
    display: block;
    height: 40px;
    width: 213px;
    margin: 0 auto 50px;
    color: transparent;
    background: url("css/img/company/cp.gif")
  }
}

.cp-wrapper {
  padding: 75px 0;
  border: dotted 1px #333;
  h4 {
    margin-bottom: 35px;
  }
  p {
    &:nth-child(2) {
      margin-bottom: 6em;
    }
  }
}

// privacy.html

.banner-privacy {
  @extend %banner-static;
  background: url("css/img/order/title_01.jpg") 0 0 no-repeat;
}

.section-wrapper-privacy {
  @extend %section-wrapper-static;
  li {
    list-style: decimal;
    margin-bottom: 2em;
  }
  p {
    text-indent: 1em;
  }
}

.section-wrapper-privacy > p {
  &:first-child {
    margin-bottom: 2em;
  }
  &:last-child {
    text-indent: 0;
  }
}

// elements

.link-more {
  display: block;
  text-align: right;
}
